*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 4rem);
    grid-template-rows: 7rem 7rem 2rem 7rem 7rem 3rem;
    gap: .5rem;
    justify-content: center;
    padding-top: 1rem;
}

.mainJoueur {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    user-select: none;
    cursor: pointer;
}

.mainOrdi {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    user-select: none;
}

.cartejoue {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    user-select: none;
}


.texte {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
position:relative;
height: 100%;
width: 100%;
border: 1px solid black;
border-radius: .5rem;
display: flex;
justify-content: center;
align-items: center;
font-size: 4rem;
}

.card.red {
    color: red;
}

.card.black {
    color: black;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}

.card::before {
    top: .5rem;
    left: .5rem;
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}

.dos {
    position:relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: aquamarine;
}

.score {
    height: 75%;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: .5rem;
    user-select: none;
}

.affiPlis {
    position:relative;
    height: 75%;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: .5rem;
    user-select: none;
}

.indicateur {
    height: 80%;
    width: 45%;
    border: 1px solid black;
    border-radius: 1rem;    
}

.monTour {
    display: visible;
    height: 80%;
    width: 45%;
    border: 2px solid black;
    background-color: green;
    border-radius: 1rem;  
}

.pasMonTour {
    display: visible;
    display: visible;
    height: 80%;
    width: 45%;
    border: 2px solid black;
    background-color: red;
    border-radius: 1rem;  
}